<table class="table table-bordered">
  <thead class ="thead-dark">
    <tr>
      <th>Supplier</th>
      <th>Product ID</th>
      <th>Order Amount</th>
      <th>Inventory</th>
      <th>Price</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @scrappers.each do |supplier, product_info| %>
      <%supplier_id = supplier%>
      <% product_info.each do |product_id, details| %>
        <% details.each do |row|%>
          <tr>
            <td><%= supplier_id %></td>
            <td><%= product_id %></td>
            <td><%= row[:order_amount] %></td>
            <td><%= row[:inventory] %></td>
            <td><%= row[:price] %></td>
            <td><%= row[:created_at] %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to "Download XLSX", generate_xlsx_scrapper_path(@scrappers), class: "btn btn-primary" %>


<div class="table-responsive">
  <% if flash[:error] %>
    <table>
      <% flash[:error].each do |message| %>
        <tr>
          <td><%= message %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>




