<div class="container">
  <h1 class="text-center">CRAWLER</h1>
  <p class="text-center">Upload File to crawl</p>
  <p class="text-center">Excel file first column should be the part number and second column the quantity</p>
  <div class="d-flex justify-content-center p-5 border">
  <%= simple_form_for @attachment, html: { class: 'form-group' } do |f| %>
    <%= f.input :file, as: :file, class: "form-control-file" %>
    <%= f.input :attachable_type, as: :hidden, input_html: { value: "user" } %>
    <%= f.input :attachable_id, as: :hidden, input_html: { value: @user.id } %>
    <div class="text-center p-5">
      <%= f.button :submit, "Submit", class: "btn btn-primary" %> 
    </div>
  <% end %>
</div>