
<div class ="container">
<%= image_tag "ssa.svg", class: "img-fluid img-thumbnail"%>
</div>
<div class="d-flex justify-content-center p-5">
<h2>Log in</h2>
</div>
<div class ="d-flex justify-content-center">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field p-2">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field p-2">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field p-2">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions p-2">
    <%= f.submit "Log in" %>
  </div>
<% end %>

 <%= devise_error_messages! %>
</div>

<div class ="d-flex justify-content-center p-2">
    <% flash.each do |key, value| %>
       <div class="flash <%= key %>"><%= value %></div>
    <% end %>
</div>
<div class ="d-flex justify-content-center ">
<%= render "devise/shared/links" %>
</div>
